$colors: (
    text: #ffffff,
    subtext: #f0f0f0,
    sidebar-text: #ffffff,
    main: #000000,
    sidebar: #1ed760,
    player: #000000,
    card: #000000,
    shadow: #202020,
    selected-row: #797979,
    button: #1ed760,
    button-active: #1ed760,
    button-disabled: #535353,
    tab-active: #166632,
    notification: #1db954,
    notification-error: #e22134,
    misc: #bfbfbf
);

:root {
    @each $key, $color in $colors {
        --spice-#{$key}: #{$color};
        --spice-rgb-#{$key}: #{red($color)}, #{green($color)}, #{blue($color)};
    }
}

@function spiceColor($key, $alpha: 1) {
    @if $alpha == 1 {
        @return var(--spice-#{$key});
    } @else {
        @return rgba(var(--spice-rgb-#{$key}), $alpha);
    }
}
