#dribbblish-config {
    display: none;
    z-index: 99999;
    position: absolute;
    inset: 0px;
    align-items: center;
    justify-content: center;
    color: spiceColor("text");

    &[active] {
        display: flex;
    }

    .dribbblish-config-container {
        z-index: 1;
        position: relative;
        width: clamp(500px, 50%, 650px);
        background-color: spiceColor("main", 0.9);
        backdrop-filter: blur(3px);
        padding: 20px 15px;
        border-radius: var(--main-corner-radius);
        box-shadow: 0 0 10px 3px #0000003b;
        display: flex;
        gap: 5px;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .dribbblish-config-close {
            position: absolute;
            top: 15px;
            right: 15px;
        }

        .dribbblish-config-areas {
            display: flex;
            width: 100%;
            flex-direction: column;
            gap: 16px;
            max-height: 60vh;
            overflow-y: auto;
            padding: 0px 50px;

            .dribbblish-config-area {
                display: flex;
                flex-direction: column;
                gap: 16px;

                &[collapsed] {
                    overflow: hidden;
                    min-height: 38px; //for some reason height alone isn't enough
                    height: 38px;

                    > h2 svg {
                        transform: rotate(270deg);
                    }
                }

                &:empty {
                    display: none;
                }

                .dribbblish-config-area-header {
                    position: relative;
                    text-align: center;
                    height: 38px;
                    display: flex;
                    gap: 10px;
                    align-items: center;
                    justify-content: center;

                    svg {
                        color: spiceColor("text");
                        padding: 0px;
                        height: 100%;
                        stroke-width: 2px;
                        transform: rotate(90deg);
                    }
                }

                .dribbblish-config-area-items {
                    display: flex;
                    flex-direction: column;
                    gap: 16px;

                    .dribbblish-config-item {
                        position: relative;
                        width: 100%;
                        height: min-content;
                        display: grid;
                        grid-template-columns: 1fr auto;
                        grid-template-rows: auto auto;
                        gap: 5px 10px;
                        grid-template-areas: "header input" "description input";

                        &[parent] {
                            padding-left: 16px;
                        }

                        &[hidden="true"] {
                            display: none;
                        }

                        > {
                            .x-settings-title {
                                display: flex;
                                gap: 10px;
                                align-items: center;
                                grid-area: header;
                                margin: 0px;
                                height: min-content;
                                position: relative;
                                bottom: 0px;

                                &.no-desc {
                                    bottom: -10px;
                                }

                                .dribbblish-config-item-reset {
                                    padding: 0px;
                                    color: spiceColor("text");
                                    width: 1em;
                                    height: 1em;
                                }
                            }

                            .main-type-mesto {
                                grid-area: description;
                                height: min-content;
                                color: spiceColor("subtext");
                            }

                            .x-settings-secondColumn {
                                grid-area: input;
                            }
                        }
                    }
                }
            }
        }
    }

    .dribbblish-config-backdrop {
        position: absolute;
        content: "";
        inset: 0px;
        backdrop-filter: blur(3px) brightness(60%);
    }
}
