.connect-device-list-container {
    padding: 8px;
    @include spiceGlass(lightOffset(0.8, -0.1));

    &::before {
        display: none;
    }

    .connect-device-list-content {
        display: flex;
        flex-direction: column;
        gap: 8px;
        width: 100%;

        .connect-header {
            padding: 0px;
            filter: invert(var(--is_light));
        }

        .connect-device-list {
            display: flex;
            flex-direction: column;
            gap: 8px;
            overflow-y: auto;

            .connect-device-list-item {
                background-color: transparent;
                border-radius: var(--main-corner-radius);

                &:hover,
                &:active {
                    background-color: spiceColor("subtext", 0.1, 0.1);
                }

                &--active {
                    background-color: spiceColor("selected-row", 0.2) !important;
                }
            }
        }
    }
}
