.main-contextMenu-menu {
    position: relative;
    overflow: visible;
    background-color: transparent !important;
    border-radius: var(--main-corner-radius);
    padding: 8px;

    &::before {
        z-index: -1;
        content: "";
        position: absolute;
        inset: 0px;
        @include spiceGlass(lightOffset(0.8, -0.1));
    }

    .main-contextMenu-menuItem {
        .main-contextMenu-menuItemButton {
            border-radius: var(--main-corner-radius);
            color: spiceColor("subtext") !important;

            &:hover,
            &:active,
            &[aria-expanded="true"] {
                background-color: spiceColor("subtext", 0.1, 0.3);
            }

            &::before,
            &::after {
                left: 8px;
                right: 8px;
                border-color: spiceColor("subtext", 0.1, 0.1);
            }
        }
    }
}
