.main-contextMenu-menu {
    background-color: transparent !important;
    border-radius: var(--main-corner-radius);
    padding: 8px;

    &:not([data-depth="0"]) {
        margin: -5px 0px;
    }

    &::before {
        z-index: -1;
        content: "";
        position: absolute;
        inset: 0px;
        background-color: spiceColor("main", 0.75, -0.1) !important;
        backdrop-filter: blur(10px);
        border-radius: var(--main-corner-radius);
        box-shadow: 0px 0px 8px spiceColor("subtext", 0.1, 0.1);
        @include spiceShadow();
    }

    .main-contextMenu-menuItem {
        .main-contextMenu-menuItemButton {
            border-radius: var(--main-corner-radius);
            color: spiceColor("subtext") !important;

            &:hover,
            &:focus,
            &:active,
            &[aria-expanded="true"] {
                background-color: spiceColor("subtext", 0.1, 0.3);
            }

            &::before,
            &::after {
                left: 5px;
                right: 5px;
            }
        }
    }
}
