#dribbblish-loader {
    z-index: 999999;
    position: fixed;
    inset: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
    opacity: 0;
    transition: opacity 1s ease-in;
    color: spiceColor("subtext");
    @include spiceFont("glue", 32px, "Bold");

    &[active] {
        opacity: 1;
        pointer-events: all;
    }

    &::before {
        z-index: -1;
        content: "";
        position: absolute;
        inset: 0px;
        background-color: spiceColor("main", 0.9, -0.1);
        backdrop-filter: blur(10px);
    }

    & > div {
        display: flex;
        flex-direction: column;
        gap: 16px;
        align-items: center;

        svg {
            color: spiceColor("text");
        }
    }
}
