*[markdown] {
    ol,
    ul {
        list-style: inside;

        > li::marker {
            content: "• ";
            font-weight: 900;
        }
    }

    code {
        background-color: spiceColor("subtext", 0.1);
        padding: 0px 5px;
        border-radius: 3px;
    }

    .muted {
        color: spiceColor("subtext", 0.5, 0.2);
    }
}
