// Hide ads
#main[hide-ads~="ads"] {
    // Remove ad placeholder in main screen
    .main-leaderboardComponent-container {
        display: none;
    }
}

// Hide premium features
#main[hide-ads~="premium"] {
    // Remove upgrade button
    .main-topBar-UpgradeButton {
        display: none;
    }

    // Remove upgrade to premium button in user menu
    // prettier-ignore
    .main-contextMenu-menuItemButton[href="https://www.spotify.com/premium/"] {
        display: none;
    }

    // Hide fullscreen button
    .volume-bar + .control-button {
        display: none;
    }

    // Hide download buttons
    .main-actionBar-ActionBarRow button[role="switch"] {
        display: none;
    }
}
